Last login: Tue Nov 27 13:21:25 on ttys000
tians-MacBook-Pro:~ tian$ cd /Users/tian/Desktop/react-native-redux-navigation-example-master 
tians-MacBook-Pro:react-native-redux-navigation-example-master tian$ ls
CountersDemo
tians-MacBook-Pro:react-native-redux-navigation-example-master tian$ cd CountersDemo/
tians-MacBook-Pro:CountersDemo tian$ ls
__tests__		index.ios.js		src
android			ios			yarn.lock
app.json		node_modules
index.android.js	package.json
tians-MacBook-Pro:CountersDemo tian$ ls -a
.			.gitignore		index.ios.js
..			.watchmanconfig		ios
.babelrc		__tests__		node_modules
.buckconfig		android			package.json
.flowconfig		app.json		src
.gitattributes		index.android.js	yarn.lock
tians-MacBook-Pro:CountersDemo tian$ vi .gitignore 




# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshotsq
